.Header {
position: relative;
background-color: #fc1723;
height: 4rem;
width: 100vw;
padding: none;
margin: none;
border-bottom: 3px solid #000;
}
.Header::after {
    content: "";
    position: absolute;
    bottom: -.9rem; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 20px; 
    height: 20px; 
    background-color: white;
    border: 2px solid black; 
    border-radius: 50%; 
  }
.Header h1{
    font-size: .7rem;
    text-align: right;
    color: whitesmoke;
    padding: 0;
    padding-top: 2.4rem;
    padding-right: 2rem;
    margin: 0;
    
}
.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: .5rem;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com transparência para criar um efeito de sobreposição */
    z-index: 9999; /* Z-index alto para garantir que a modal fique sobreposta a todos os outros elementos */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 85vh; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pokemon-name {
    text-align: center;
    margin-top: 0; /* Remove a margem superior para o nome do Pokémon */
}

.pokemon-info {
    display: flex; /* Usando flexbox */
    flex-direction: column; /* Direção da coluna para alinhar itens verticalmente */
    align-items: center; /* Alinhar os itens horizontalmente */
}

.pokemon-image {
    max-height: calc(30vh - 20px); /* Limita a altura da imagem do Pokémon a 30% da altura da modal, descontando o padding */
    width: auto; /* Garante que a largura da imagem seja ajustada automaticamente */
    margin-bottom: 10px; /* Adiciona espaço entre a imagem e as informações */
}

.measures {
    display: flex; /* Faz as medidas ficarem lado a lado */
    justify-content: space-between; /* Alinha as medidas horizontalmente */
}
.measures p {
    margin: 0 5px; /* Adicione um espaçamento horizontal entre as medidas */
}

.types {
    list-style: none;
    padding: 0;
    margin: 10px 0; /* Adiciona margem superior e inferior para os tipos */
    display: flex;
}
.base-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.stat-item {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 15vw;
}

.stat-bar {
    position: relative; /* Adicione essa propriedade para a posição relativa */
    background-color: #555655;
    height: 37%; /* Ajuste conforme necessário */
    width: 20px;
    border-radius: 1rem;
}

.stat-bar::before {
    content: ''; /* Adicione conteúdo vazio */
    position: absolute; /* Posicione absolutamente em relação ao elemento pai (.stat-bar) */
    bottom: 0; /* Alinhe na parte inferior */
    left: 0; /* Alinhe à esquerda */
    background-color: var(--stat-color);
    width: 100%; /* Ocupa toda a largura do elemento pai */
    height: var(--stat-height); /* Use a variável CSS personalizada */
    transition: height 0.5s; /* Adicione uma transição suave */
    border-radius: 1rem;
}

.stat-value {
    font-weight: bold;
    margin-bottom: 5px;
}

.stat-name {
    margin: 0;
}

/* Botão de fechar */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    background-color: transparent;
    border: none;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.pokemon:hover{
    transform: scale(1.05);
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.pagination button:hover{
    transform: scale(1.05);

}


@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0;
    }
}